akregatorrc
Ankirc
ant-design-pro
aria2
arkrc
audacious
Audaciousrc
automathemely
autostart
baloofileinformationrc
baloofilerc
bat
bluedevilglobalrc
bluedevilreceiverrc
borg
BraveSoftware
breezerc
calibre
calibrerc
cef_user_data
chromium
clash
clash-verge
clash_app
configstore
cutefishos
Cuttlefishrc
dconf
deepin
demo
device_automounter_kcmrc
discoverrc
dleyna-renderer-service.conf
drkonqirc
Electron
emaildefaults
etcd-manager
evcxr
evolution
fcitx
fcitx5
filetypesrc
firewall
flameshot
flameshotrc
fontconfig
fontforge
gconf
gh
GIMP
glib-2.0
goa-1.0
GoldenDictrc
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
gummyconf.json
gwenviewrc
htop
ibus
inkscape
JetBrains
JetBrains Space
jgit
kaccessrc
kactivitymanagerd-pluginsrc
kactivitymanagerd-statsrc
kactivitymanagerd-switcher
kactivitymanagerdrc
katemetainfos
katerc
kateschemarc
katevirc
kcmfonts
kcminputrc
kconf_updaterc
kdfrc
kdialogrc
keditbookmarksrc
keepassxc
KeePassXCrc
kfontinstuirc
kfontviewrc
kgammarc
kglobalshortcutsrc
khotkeysrc
kinfocenterrc
kingsoft
Kingsoft
kiorc
kioslaverc
klipperrc
kmenueditrc
kmixrc
kprivacyrc
krunnerrc
kscreenlockerrc
kservicemenurc
ksmserverrc
ksplashrc
ksysguardrc
ktimerrc
ktimezonedrc
ktouch2rc
ktrashrc
kuriikwsfilterrc
kwalletmanager5rc
kwalletrc
kwinrc
kwinrulesrc
kxkbrc
latte
lattedockrc
lazygit
libaccounts-glib
libfm
libinput-gestures.conf
lookandfeelexplorerrc
lvim
matplotlib
menus
mictray
mimeapps.list
nautilus
nemo
netease-cloud-music
netease-cloud-music-gtk
news-flash
nwjs
okularpartrc
okularrc
opera-developer
oxygenrc
pamac
partitionmanagerrc
pavucontrol-qt
pavucontrol.ini
pcmanfm
pika-backup
plank
plasma-localerc
plasma-nm
plasma-org.kde.plasma.desktop-appletsrc
plasma.emojierrc
plasma_calendar_alternatecalendar
plasma_calendar_astronomicalevents
plasma_calendar_holiday_regions
plasmanotifyrc
plasmarc
plasmashellrc
PlasmaUserFeedback
powermanagementprofilesrc
print-manager
procps
pulse
qBittorrent
QtProject
QtProject.conf
qtvirtualkeyboard
qv2ray
RedisInsight
rsibreak.notifyrc
rsibreakrc
rustdesk
Rygel
rygel.conf
saas
screenkey.json
sddmthemeinstallerrc
session
signond
Slack
smb4krc
sniffnet
sweeperrc
systemmonitorrc
systemsettingsrc
TabNine
touchpadrc
touchpadxlibinputrc
trashrc
Trolltech.conf
user-dirs.dirs
user-dirs.locale
VirtualBoxrc
vivaldi
vlc
xdg-desktop-portal-kderc
xsettingsd
yarn
yelp
microsoft-edge-beta
discord
Code Industry
mpd/log
mpd/state
